body {
    margin: 0;
    width: 100%;
	background-color: #617C8F;
	padding-top: 40px;
}
header {
    color: white;
    background-color: #000000;
    clear: left;
    text-align: left;
	font-size: 3em;
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0px;
	left: 0px;
	border-bottom: 3px solid white;
}
logo {
	float: right;
	padding-right: 0px;
	padding-top: 0px;
	margin: 0;	
}
nav {
	min-width: 300px;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: bold;
	width:100%;
	margin: 0;
	top:74px;
	position: fixed;
	background-color: #333;
	left: 0px;
	padding: 16px;
	padding-left: 0px;
	overflow: hidden;
}
nav ul li, footer ul li {
    display: inline;
	margin-right: 0px;
}
.buttons {
    text-decoration: none;
    color: white;
	padding: 14px 30px;
	display: inline;
}
.buttons:hover {
    background-color: #111;
}
h1 {
    font-size: 3em;
	padding-top:75px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    line-height: 1.4em;
    color: black;
}
footer {
    border-top: 3px solid #d5d5d5;
    font-size: 1em;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background-color: #000000;
	width: 100%;
}
#ps_column1 {
	width: 50%;
	float: left;
}

#ps_column1 p, #pc_column2 p {
	column-count: 1;
	width: 360px;
}

#pc_column2 {
	width: 50%;
	display: inline;
}

.container {
	background-color:white;
	width: 900px;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 60px;
	padding: 20px;
	
}
.images{
	margin-bottom: 50px;
}
a {
	color: #f10007;
}