body {
    margin: 60px auto;
    width: 80%;
	background-color: #617C8F;
	padding-top: 40px;
}
header {
    color: white;
    background-color: #000000;
    clear: left;
    text-align: left;
	font-size: 3em;
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0px;
	left: 0px;
	border-bottom: 3px solid white;
	display: block;
}
logo {
	float: right;
	padding-right: 0px;
	padding-top: 0px;
	margin: 0;
	
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	font-size: 1em;
    padding-left: 20px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 3px solid #d5d5d5;
    font-size: 1em;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background-color: #000000;
	width: 100%;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
