body {
    margin: 60px auto;
    width: 80%;
	background-color: #617C8F;
	padding-top: 40px;
}
header {
    color: white;
    background-color: #000000;
    clear: left;
    text-align: left;
	font-size: 3em;
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0px;
	left: 0px;
	border-bottom: 3px solid white;
}
logo {
	float: right;
	padding-right: 0px;
	padding-top: 0px;
	margin: 0;	
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: bold;
	width:100%;
	margin: 0;
	top:74px;
	position: fixed;
	background-color: #333;
	left: 0px;
	padding: 16px;
	overflow: hidden;
}
nav ul li, footer ul li {
    display: inline;
	margin-right: 0px;
}
a {
    text-decoration: none;
    color: white;
	padding: 14px 30px;
	display: inline;
}
a:hover {
    background-color: #111;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 3px solid #d5d5d5;
    font-size: 1em;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background-color: #000000;
	width: 100%;
}


