<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
		<header>
		BitPro 
		<logo> <img src="https://avatars3.githubusercontent.com/u/15372382?v=3&s=200" alt="BitPro Logo" style="height:70px;width:70px">  </logo>
		</header>
		
			<nav>
	    		<ul>
	        		<li><a class="buttons" href="/">Home</a></li>
	        		<li><a class="buttons" href="/blog">Blog</a></li>
					<li> 
					<li style="float:right"><a class="buttons" href="/login">Login</a></li>
	    		</ul>
			</nav>


			<div class="container">
			{{ content }}
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:bitproofficial@gmail.com">email: bitproofficial@gmail.com </a></li>
	        		<li><a href="https://github.com/bit-Pro">bitPro GitHub</a></li>
				</ul>
			</footer>
		</body>
	</html>
