<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<header>
		BitPro 
		<img src="https://avatars3.githubusercontent.com/u/15372382?v=3&s=200" alt="HTML5 Icon" style="width:70px;height:70px;">
		</header>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/Workshops">Workshops</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:bitproofficial@gmail.com">email: bitproofficial@gmail.com </a></li>
	        		<li><a href="https://github.com/bit-Pro">bitPro GitHub</a></li>
				</ul>
			</footer>
		</body>
	</html>
